<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="validNumericPattern" value="[0-9.]" />
      <add key="validEofCharacter" value="0" />
      <add key="doubleOutputPattern" value="$##0.00;($##0.00);-\0-" />
      <add key="outputFileExtension" value=".out" />
    </appSettings>
</configuration>